.about__btn {
    @include about_btn;
    cursor: pointer;
}

.about {
    background-color: #1B262F;
}

.about__block {
    padding: 80px 24px;
    margin-left: auto;
    margin-right: auto;
}

.about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 45px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;


}

.about__title {
    margin-bottom: 16px;
    color: #fbfcfe;
    font-family: DM Serif Display;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    
}

.about__text {
    @include text;
    margin-bottom: 60px;
}
.about__content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .about__list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about__block{
        padding: 93px 88px ;
    }
    .about__title{
        color: #fbfcfe;
        font-family: DM Serif Display;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        margin-bottom: 24px;
  
    }
    .about__text{
        margin-bottom: 32px;
    }
    .about__content{
        max-width: 457px;
    }
    
}
@media screen and (min-width: 992px) {
    .about__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about__content{
        text-align: left;
        max-width: 438px;

    }
    .about__list{
        max-width: 536px;
        margin-left: 130px;
    }
}