.pricing{
    background-color: #edf3f8;
    background-repeat: no-repeat;
    background-image: url('/img/prising_bg.svg');
    background-position: right 117% top -51%;
}
.pricing__block {
    padding-top: 163px;
    
}

.pricing__title {
    margin-bottom: 48px;
    color: #36536b;
    font-family: DM Serif Display;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.pricing__sub_title{

    margin-bottom: 71px;
    color: #ba4270;
    font-family: DM Serif Display;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 17px;
}
.pricing__list{
    text-align: center
}

.pricing__text {
    @include text;
    margin-bottom: 8px;
}

.pricing__price {
   
    color: #36536b;
    font-family: DM Serif Display;
    font-size: 56px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 24px;
    border-bottom: 1px solid #36536B;
   
}
.pricing__item{
    padding-bottom:24px ;
    max-width: 327px;
    border-bottom: 2px solid #36536B;
}

.pricing__form{
    margin-top: 24px;
    max-width: 134px;
    margin-right: auto;
    margin-left: auto;
  
    
    
}
.pricing__label{
    text-align: left;
    padding: 0 2px 0px 36px;
    margin-bottom: 8px;
    color: rgb(54, 83, 107);
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;

    &:hover{
        color: #000;

        background-image: url('/img/pricing_icon.svg');
        background-repeat: no-repeat;
        background-position: left  center;
    }
}


.pricing__btn{
    padding: 14px 28px 16px 28px ;
    border: 1px solid #000;
    box-sizing: border-box;
    border: 1px solid #36536b;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 48px;
    margin-top: 48px;

    &:hover{
        color: #fff;
        background-color: #36536B;
    }
    
}
@media screen and (min-width: 768px) {
    .pricing__list{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .pricing__text{
        max-width: 223px;
    }
    .pricing{
        background-position: right -402px top -600px;
    }
}
@media screen and (min-width: 992px) {
    .pricing__item{
        max-width: 350px;
    }
    .pricing{
        background-position: right -287px top -563px;
    }
}
